<!DOCTYPE html>
<html>
  <head>
    <title>URL Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/input_page.css">
  </head>
  <body>
    <header class="header bg-primary text-light">
      <h1 class="header-title">Saoshyant</h1>
    </header>
    <main>
      <section class="form-section my-5">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-6 col-lg-5">
              <div class="col-md-8 col-lg-6 text-center">
                <img src="../static/filimo_logo.png" alt="Description of image">
              </div>
              <div class="card">
                <img src="../static/scrap.gif" alt="Description of image" class="card-img-top" height="280px" width="280px">
                <div class="card-body">
                  <form method="POST" action="/submit" name="url-form" class="url-form">
                    <div class="form-group">
                      <label for="url-input-1" class="form-label">Enter URL 1:</label>
                      <input type="text" id="url-input-1" name="url1" class="form-control" placeholder="https://example.com" required>
                    </div>
                    <div id="additional-fields-container"></div>
                    <div class="form-buttons d-flex justify-content-between">
                      <button type="button" id="add-button" class="btn btn-primary me-2">Add URL</button>
                      <button type="button" id="delete-button" class="btn btn-danger me-2">Delete URL</button>
                      <button type="submit" class="btn btn-primary">Scrap</button>
                    </div>
                  </form>
                  <div class="alert alert-success mt-3" role="alert" style="display: none;">
                    Scraping successful!
                  </div>
                  <div class="alert alert-danger mt-3" role="alert" style="display: none;">
                    Scraping failed. Please check your input and try again.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer bg-primary text-light">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-6 col-lg-5 text-center">
            &copy; 2023 Saoshyant Website. All rights reserved.
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/input_page.js"></script>
  </body>
</html>