<!DOCTYPE html>
<html>

<head>
  <title>URL Form</title>
  <!-- Load Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/input_page.css">
</head>
<header class="header">Saoshyant</header>
<body>
  <div style="text-align: center; padding-top: 10px;">
    <img src="../static/filimo_logo.png" alt="Description of image">
  </div>
  <div style="text-align: center; padding-top: 10px;">
    <img src="../static/scrap.gif" alt="Description of image" height="280px" width="280px" style="margin-bottom: -300px;">
  </div>
  <div class="form-container" style="padding-top: 10px;">
    <form method="POST" action="/submit" name="url-form">
      <!-- Text field to get URL -->
      <div class="mb-3">
        <label for="url-input-1" class="form-label">Enter URL 1:</label>
        <input type="text" id="url-input-1" name="url1" class="form-control" placeholder="https://example.com" required>
      </div>

      <!-- Container for additional text fields and buttons -->
      <div id="additional-fields-container" style="margin-bottom: 10px;"></div>
      <button type="button" id="add-button" class="btn btn-primary me-2" >Add URL</button>
      <button type="button" id="delete-button" class="btn btn-danger me-2">Delete URL</button>
      <button type="submit" class="btn btn-primary">Scrap</button>
    </form>
  </div>

  <!-- Load Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../static/js/input_page.js"></script>
  <footer>
    &copy; 2023 Saoshyant Website. All rights reserved.
  </footer>
</body>

</html>
